In [1]:
import pandas as pd
import numpy as np

### Indexing (Series e Dataframe)

In [2]:
np.random.seed(123)
df = pd.DataFrame(dict(
    u = np.round(np.random.rand(5), 2),
    v = np.round(np.random.randn(5), 2),
    w = ["spam", "bacon", "spam", "eggs", "sausage"],
    x = [True, False, True, False, True]
))

In [3]:
df

      u     v        w      x
0  0.70  0.32     spam   True
1  0.29 -0.05    bacon  False
2  0.23 -0.20     spam   True
3  0.55  1.98     eggs  False
4  0.72 -1.62  sausage   True

In [4]:
df.u

0    0.70
1    0.29
2    0.23
3    0.55
4    0.72
Name: u, dtype: float64

In [5]:
df.u.head(4)

0    0.70
1    0.29
2    0.23
3    0.55
Name: u, dtype: float64

In [7]:
df.u.loc[0:3]

0    0.70
1    0.29
2    0.23
3    0.55
Name: u, dtype: float64

In [8]:
df.u.iloc[0:3]

0    0.70
1    0.29
2    0.23
Name: u, dtype: float64

In [ ]:
# loc: label-based indexing (meglio)
# iloc: position-based indexing

In [9]:
df.u.loc[3]

0.55

In [10]:
df.u.iloc[3]

0.55

In [11]:
np.random.seed(123)
df2 = pd.DataFrame(dict(
    u = np.round(np.random.rand(5), 2),
    v = np.round(np.random.randn(5), 2),
    w = ["spam", "bacon", "beans", "eggs", "sausage"],
    x = [True, False, True, False, True]
)).set_index("w")

In [14]:
df2

            u     v      x
w
spam     0.70  0.32   True
bacon    0.29 -0.05  False
beans    0.23 -0.20   True
eggs     0.55  1.98  False
sausage  0.72 -1.62   True

In [12]:
df2.u.iloc[3]

0.55

In [13]:
df2.u.loc[3]

KeyError: 3

In [15]:
df2.u.loc['eggs']

0.55

In [ ]:
### Indexing su dataframe

In [19]:
df.loc[0:3, ['v', 'x']] #metodo migliore

      v      x
0  0.32   True
1 -0.05  False
2 -0.20   True
3  1.98  False

In [21]:
df.iloc[0:4, [1, 3]] # è il metodo peggiore di tutti

      v      x
0  0.32   True
1 -0.05  False
2 -0.20   True
3  1.98  False

In [23]:
df.iloc[0:4, :].loc[:, ['v', 'x']] #un compromesso migliore

      v      x
0  0.32   True
1 -0.05  False
2 -0.20   True
3  1.98  False

In [24]:
# logical indexing: usiamo un vettore di booleani per filtrare
# la serie o il dataframe
df.loc[df.v < 0]

      u     v        w      x
1  0.29 -0.05    bacon  False
2  0.23 -0.20     spam   True
4  0.72 -1.62  sausage   True

In [25]:
df.loc[df.v < 0, ['u', 'w']] # SELECT u, w FROM df WHERE v < 0;

      u        w
1  0.29    bacon
2  0.23     spam
4  0.72  sausage

### GROUPING

In [26]:
headers = ['name', 'title', 'department', 'salary']
chicago = pd.read_csv('./city-of-chicago-salaries.csv',
                      header=0,
                      names=headers,
                      converters={'salary': lambda x: float(x.replace('$', ''))})
chicago

,name,title,department,salary
0,"AARON, ELVIA J",WATER RATE TAKER,WATER MGMNT,85512.0
1,"AARON, JEFFERY M",POLICE OFFICER,POLICE,75372.0
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,80916.0
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,99648.0
4,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,89440.0
...,...,...,...,...
32049,"ZYGADLO, MICHAEL J",FRM OF MACHINISTS - AUTOMOTIVE,GENERAL SERVICES,96553.6
32050,"ZYGOWICZ, PETER J",POLICE OFFICER,POLICE,78012.0
32051,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,78012.0
32052,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,80724.0
32053,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,110352.0

SELECT 
    max(Salary),
    Department
FROM
    chiacago
GROUP BY
    department;

In [27]:
chicago.groupby('department').max('salary')

                         salary
department
ADMIN HEARNG           156420.0
ANIMAL CONTRL          134124.0
AVIATION               186576.0
BOARD OF ELECTION      124320.0
BOARD OF ETHICS        125532.0
BUDGET & MGMT          169992.0
BUILDINGS              157092.0
BUSINESS AFFAIRS       157092.0
CITY CLERK             133545.0
CITY COUNCIL           160248.0
COMMUNITY DEVELOPMENT  156504.0
CULTURAL AFFAIRS       155040.0
DISABILITIES           134124.0
DoIT                   154992.0
FAMILY & SUPPORT       157092.0
FINANCE                145008.0
FIRE                   202728.0
GENERAL SERVICES       157092.0
HEALTH                 177156.0
HUMAN RELATIONS        125004.0
HUMAN RESOURCES        151572.0
INSPECTOR GEN          161856.0
IPRA                   146940.0
LAW                    173664.0
LICENSE APPL COMM       65436.0
MAYOR'S OFFICE         216210.0
OEMC                   167796.0
POLICE                 260004.0
POLICE BOARD            97728.0
PROCUREMENT            163656.0
PUBLIC LIBRARY         167004.0
STREETS & SAN          157092.0
TRANSPORTN             169500.0
TREASURER              133545.0
WATER MGMNT            169512.0

In [28]:
chicago.groupby('department').max('salary').shape

(35, 1)

In [29]:
chicago.department.unique().shape

(35,)

SELECT 
    max(Salary) AS max_salary_for_department,
    Department
FROM
    chiacago
GROUP BY
    department;

In [30]:
by_dept = chicago.groupby('department').agg(
        max_salary_for_department = ('salary', 'max')
)

In [38]:
by_dept

                       max_salary_for_department
department
ADMIN HEARNG                            156420.0
ANIMAL CONTRL                           134124.0
AVIATION                                186576.0
BOARD OF ELECTION                       124320.0
BOARD OF ETHICS                         125532.0
BUDGET & MGMT                           169992.0
BUILDINGS                               157092.0
BUSINESS AFFAIRS                        157092.0
CITY CLERK                              133545.0
CITY COUNCIL                            160248.0
COMMUNITY DEVELOPMENT                   156504.0
CULTURAL AFFAIRS                        155040.0
DISABILITIES                            134124.0
DoIT                                    154992.0
FAMILY & SUPPORT                        157092.0
FINANCE                                 145008.0
FIRE                                    202728.0
GENERAL SERVICES                        157092.0
HEALTH                                  177156.0
HUMAN RELATIONS                         125004.0
HUMAN RESOURCES                         151572.0
INSPECTOR GEN                           161856.0
IPRA                                    146940.0
LAW                                     173664.0
LICENSE APPL COMM                        65436.0
MAYOR'S OFFICE                          216210.0
OEMC                                    167796.0
POLICE                                  260004.0
POLICE BOARD                             97728.0
PROCUREMENT                             163656.0
PUBLIC LIBRARY                          167004.0
STREETS & SAN                           157092.0
TRANSPORTN                              169500.0
TREASURER                               133545.0
WATER MGMNT                             169512.0

### JOINING

Like SQL's **JOIN** clause, `pandas.merge` allows two DataFrames to be joined on one or more keys. The function provides a series of parameters `(on, left_on, right_on, left_index, right_index)` allowing you to specify the columns or indexes on which to join.

By default, `pandas.merge` operates as an *inner join*, which can be changed using the `how` parameter.

From the function's docstring:

> how : {'left', 'right', 'outer', 'inner'}, default 'inner'

>    * left: use only keys from left frame (SQL: left outer join)

>    * right: use only keys from right frame (SQL: right outer join)

>    * outer: use union of keys from both frames (SQL: full outer join)

>    * inner: use intersection of keys from both frames (SQL: inner join)

In [43]:
chicago_2 = pd.merge(chicago, by_dept, on='department', how='inner')

In [44]:
chicago_2

,name,title,department,salary,max_salary_for_department
0,"AARON, ELVIA J",WATER RATE TAKER,WATER MGMNT,85512.0,169512.0
1,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,99648.0,169512.0
2,"ABDUL-KARIM, MUHAMMAD A",ENGINEERING TECHNICIAN VI,WATER MGMNT,96384.0,169512.0
3,"ABRAHAM, GIRLEY T",CIVIL ENGINEER IV,WATER MGMNT,99648.0,169512.0
4,"ABREU, DILAN",SEWER BRICKLAYER,WATER MGMNT,86486.4,169512.0
...,...,...,...,...,...
32049,"PRIMER, EDWARD",PROGRAM DIR,BOARD OF ETHICS,76512.0,125532.0
32050,"SUPERFINE, RICHARD J",LEGAL COUNSEL - BOARD OF ETHICS,BOARD OF ETHICS,84780.0,125532.0
32051,"BOATMAN, CARISA A",SUPERVISING CLERK,POLICE BOARD,60408.0,97728.0
32052,"CAPRONI, MAX A",EXECUTIVE DIR - POLICE BOARD,POLICE BOARD,97728.0,97728.0
32053,"GUZMAN FLORES, MICHELLE",STAFF ASST,LICENSE APPL COMM,65436.0,65436.0